.home-box {
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
}

.header-wrapper {
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.home-box .hero {
    height: 80vh;
    min-height: 600px;
    background-image: url(../assets/hero.jpeg);
    background-position: top center;
    background-size: cover;
    padding: 20px 30px;
    padding-bottom: 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.home-box .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top right, #523a2c6d, #00000000);
    z-index: 800;
}
.tag, .hero h1, .hero p, .hero button {
    z-index: 801;
}
.hero .tag {
    background-color: #fff;
    width: fit-content;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 10px;
}
.hero h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: normal;
}
.hero p {
    text-transform: capitalize;
}
.hero button {
    background-color: #000;
    padding: 15px 30px;
    box-sizing: border-box;
    color: #fff;
    width: fit-content;
    border: 2px solid transparent;
    text-transform: capitalize;
    backdrop-filter: blur(8px);
    border-radius: 2px;
    font-size: 14px;
    &:hover {
        background-color: #523a2ca5;
        border-color: #fff;
    }
}

.category, .recommend, .new {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.section-head {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    grid-template-columns: auto 1fr;
    padding: 20px 0 40px 0;
    /* border: 1px solid red; */
}
.section-head h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: normal;
}
.section-head .section-line {
    height: 2px;
    background-color: #e8e8e8;
    /* width: 100%; */
}

.category-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}

.category-wrapper .cat {
    background-position: center;
    background-image: url();
    background-size: cover;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: #e8e8e8;
    padding: 30px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    cursor: grab;
    position: relative;
    &:hover {
        color: #fff;
    }
    &:hover::before {
        /* background-color: #000; */
        opacity: 1;
    }
    &:hover .cat-img {
        opacity: 0;
    }
}
.cat::before {
    content: "";
    position: absolute;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/hero.jpeg);
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    z-index: 800;
}
.cloth::before {
    background-image: url(../assets/bluehoodie.png);
    background-size: 50%;
}
.phone::before {
    background-image: url(../assets/phone.png);
}
.accessories::before {
    background-image: url(../assets/headset.png);
}
.electronics::before {
    background-image: url(../assets/amazon.png);
}
.cosmetics::before {
    background-image: url(../assets/cosmetics.png);
}
.cat ul {
    align-self: center;
    /* justify-self: end; */
    width: 100%;
    text-align: center;
    z-index: 801;
}
.arrow {
    align-self: flex-end;
    transform: rotate(320deg);
    font-size: 25px;
    z-index: 801;
    display: flex;
}
.cat-img {
    width: 30%;
    height: 100%;
    object-position: bottom;
    object-fit: contain;
    opacity: 1;
    align-self: center;
    box-sizing: border-box;
    z-index: 801;
    transform: all .3s ease-in-out;
}
.cat h3 {
    font-size: 20px;
    font-weight: 500;
}
.cat p {
    font-size: 13px;
}
.category .cloth {
    grid-column: 1/3;
}
.category .accessories {
    grid-column: 3/5;
}
.cosmetics .cat-img {
    width: 50%;
    min-width: 100px;
}
.sub-category {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.category-wrapper .sub-category div {
    padding-top: 70px;
    gap: 50px;
}
/* recommended for you section styling starts */

.recommend .section-head, .browse .section-head {
    grid-template-columns: auto 1fr auto;
    gap: 15px;
}
.recommend .section-head .section-line {
    height: 2px;
    background-color: #e8e8e8;
    width: 90%;
    justify-self: flex-end;
}

.explore-btn, .browse .explore-btn {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 15px;
    gap: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #000;
    font-size: 13px;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.recommend .arrow {
    font-size: 18px;
}
.recommend-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 400px); */
    gap: 10px;
}
.lmtd {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    border: none;
    text-transform: capitalize;
    top: 20px;
    background-color: #000;
    color: #fff;
}
.recommend-wrapper .rec-box {
    position: relative;
    gap: 50px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
    &:hover {
        border-color: #000;
    }
}
.rec-box .rec-img {
    width: 15vw;
    align-self: center;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.belt .rec-img {
    width: 90%;
}
.rec-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}
.rec-info h3 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: clamp(12px, 1vw, 15px); 
    gap: 3px;
}
.rec-info .stars {
    color: #333;
    font-size: 10px;
}
.rec-info h4 {
    font-weight: 500;
    gap: 5px;
    font-size: clamp(14px, 1.5vw, 18px);
    align-self: flex-end;
    display: flex;
}
.rec-info .currency {
    /* align-self: flex-start; */
    font-size: 10px;
}

/* browse section css */
.browse {
    background-color: #fff;
    background-image: url(../assets/browse.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.browse .section-head, .browse-mid, .browse-brands {
    z-index: 801;
    position: relative;
}
.browse::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #00000046;
    z-index: 800;
}
.browse .explore-btn {
    border-color: #fff;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #000;
        border-color: #000;
    }
}
.browse-mid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
}
.browse-mid .browse-control {
    border: 1px solid #fff;
    display: flex;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 15px;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #fff;
        border-color: #000;
        color: #000;
    }
}

.browse-item {
    border: 1px solid #fff;
    padding: 200px 5px 5px 5px;
}
.browse-item .browse-info {
    background-color: #fff;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 10px 5px 5px;
    color: #000;
    display: flex;
    gap: 15px;
}
.browse-info .mid-img {
    background-image: url(../assets/browse.jpeg);
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 60px;
    border-radius: 3px;
}
.browse-info h3 {
    font-size: clamp(11px, 1vw, 9px);
    padding-right: 40px;
}
.browse-info h4 {
    font-size: clamp(10px, 1vw, 10px);
}
.browse-info .stars {
    color: #a3a3a3;
}

.browse-brands {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    gap: 15px;
}
.browse-brands .brand {
    background-color: #fff;
    color: #000;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 45%;
    height: fit-content;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.sinsay, .be, .club, .celio {
    grid-row: 2;
}
.be img {
    width: 60%;
}
.celio img, .sinsay img {
    width: 35%;
}
.club img {
    width: 35%;
}

.new .explore-btn {
    padding: 0;
    border: none;
    gap: 15px;
    justify-content: flex-end;
    &:hover {
        background-color: initial;
    }
}
.explore-btn button {
    background-color: transparent;
    font-size: 13px;
    border: 1px solid #000;
    display: flex;
    padding: 5px 20px;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

/* new sales styling starts here*/

.new .sales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.sales .sale-item {
    background-color: #e8e8e8;
    padding: 20px 10px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.sale-item .discount {
    border: 1px solid #333;
    width: fit-content;
    /* align-self: flex-end;x/ */
    font-weight: 300;
    padding: 5px 10px;
    font-size: 10px;
}
.sale-item img {
    width: 80%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}
.sale-item .sale-info {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
}
.sale-info p {
    font-weight: 500;
}

/* newsletter styling starts here*/
.newsletter {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #18181b;
    color: #fff;
    background-image: url(../assets/newsletter.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.newsletter h1 {
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 100px;
}
.newsletter p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
.newsletter .news-form {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 5px 5px;
    display: flex;
}
.news-form input {
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    &:hover::placeholder {
        color: #fff;
    }
    &::placeholder {
        color: #d5d5d5;
        transition: all .3s ease-in-out;
    }
}
.news-form button {
    padding: 10px 20px;
    font-size: 13px;
    background-color: #fff;
    border: none;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.newsletter .big {
    font-size: 15vw;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -60px;
}

/* footer styling starts */
footer {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
footer .links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 60px 0 40px 0;
}
.links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
}
.links h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 15px;
}
.links a {
    text-underline-offset: 2px;
    font-size: 13px;
    text-decoration-thickness: 1px;
    font-weight: 400;
    color: #6a6a6a;

    &:hover,
    &.active {
        color: #18181b;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
        text-decoration-color: inherit;
        font-weight: 600;
    }
}
footer .copyright {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
    color: #6a6a6a;
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width: 750px) {
    .home-box .hero {
        padding: 20px;
        padding-bottom: 50px;
    }
    .hero h1 {
        font-size: 2.3em;
    }
    .hero .tag {
        font-size: 12px;
    }
    .hero button {
        padding: 10px 20px;
        font-size: 13px;
    }
    .section-head h1 {
        font-size: 20px;
    }
    .category-wrapper .cat {
        padding: 20px;
    }
    .arrow {
        font-size: 20px;
    }
    .cat-img {
        width: 50%;
    }
    .cat h3 {
        font-size: 16px;
    }
    .cat p {
        font-size: 11px;
    }
    .recommend-wrapper, .new .sales {
        grid-template-columns: repeat(2, 1fr);
    }
    .rec-box .rec-img {
        width: 25vw;
    }
    .lmtd {
        padding: 8;
        font-size: 10px;
    }
    .browse-brands {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .browse .brand {
        height: 125px;
    }
    .sinsay {
        grid-row: 1;
    }
    .newsletter h1 {
        margin-top: 50px;
        font-size: 30px;
    }
    .newsletter .big {
        margin-bottom: -40px;
    }
    .newsletter .news-form {
        width: 70%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 2em;
    } 
    .header-wrapper {
        padding: 0 10px 10px 10px;
    }
    .category, .recommend {
        padding: 10px;
    }
    .home-box .hero {
        height: fit-content;
    }
    .sub-category {
        grid-template-columns: repeat(4, 1fr);
    }
    .category-wrapper .sub-category div {
        padding-top: 30px;
        gap: 30px;
    }
    .cosmetics {
        grid-column: 1/5;
    }
    .phone {
        grid-column: 1/3;
    }
    .electronics {
        grid-column: 3/5;
    }
    .cosmetics .cat-img {
        width: 130px;
    }
    .cloth::before {
        background-size: 100%;
    }
    .explore-btn {
        padding: 10px;
        font-size: 11px;
    }
    .section-head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .section-head br {
        display: none;
    }
    .section-head .section-line {
        width: 100%;
        display: none;
    }
    /* .browse .explore-btn {
        width: fit-content;
        border-color: transparent;
    } */
    .explore-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .recommend .arrow {
        font-size: 15px;
    }
    .recommend-wrapper .rec-box {
        padding: 20px 10px ;
        gap: 40px;
        /* height: fit-content; */
    }
    .lmtd {
        width: 100%;
        position: static;
    }
    .rec-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .rec-box .rec-img {
        /* width: 100%; */
        /* border: 1px solid red; */
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }
    .jean .rec-img, .belt .rec-img {
        width: 100%;
    }
    .jacket .rec-img {
        width: 70%;
    }
    .rec-info h4 {
        font-size: 11px;
    }
    .browse, .new, .newsletter {
        padding: 20px 10px;
    }
    .browse-info .rec-info {
        justify-content: space-between;
        flex-direction: row;
        height: fit-content;
        width: 100%;
    }
    .browse-item .browse-info {
        gap: 10px;
    }
    .browse-info h3 {
        padding: 0;
    }
    .browse-info h4 {
        align-self: center;
        font-size: 10px;
        margin-top: 5px;
    }
    .browse-mid .browse-control {
        display: none;
    }
    .browse-item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .browse-info .mid-img {
        width: 90px;
    }
    .wakiki {
        grid-column: 1/3;
        grid-row: 1;
    }
    .brand img {
        width: 60%;
    }
    .club img {
        width: 60%;
    }
    .new .section-head {
        flex-direction: row;
        align-items: center;
    }
    .new .explore-btn {
        width: fit-content;
    }
    .explore-btn button {
        padding: 5px 12px;
    }
    .newsletter {
        gap: 15px;
    }
    .newsletter .news-form {
        width: 100%;
    }
    .newsletter h1 {
        margin-top: 30px;
        font-size: 25px;
        font-weight: 600;
    }
    .newsletter p {
        font-size: 12px;
    }
    .newsletter .big {
        margin-bottom: -35px;
    }
    footer {
        padding: 20px 10px;
    }
    footer .links {
        column-gap: 50px;
        row-gap: 20px;
        padding: 30px 0 40px 0;
        flex-wrap: wrap;
    }
    .news-form input {
        font-size: 12px;
    }
    .news-form button {
        padding: 8px 15px;
        font-size: 12px;
    }
    .links h2 {
        font-size: 14px;
    }
    .copyright {
        flex-direction: column;
        gap: 10px;
    }
    .copyright p:nth-last-child(1) {
        align-self: flex-end;
    }
}

@media screen and (max-width: 350px){
    /* .section-head {
        flex-direction: column;
        align-items: self-start;
        gap: 15px;
    } */
    .section-head br {
        display: none;
    }
    .section-head .section-line {
        width: 85%;
        align-self: flex-end;
    }
    .cat-img {
        width: 30vw;
    }
    .category .cloth {
        grid-column: 1/5;
    }
    .category .accessories {
        grid-column: 1/5;
    }
    .cosmetics {
        grid-column: 1/5;
    }
    .phone {
        grid-column: 1/5;
    }
    .electronics {
        grid-column: 1/5;
    }
    .recommend-wrapper, .new .sales {
        grid-template-columns: 1fr;
    }
    .browse-brands .brand {
        height: 100px;
    }
    .browse-brands {
        grid-template-columns: repeat(2, 1fr);
    }
    .sinsay, .be {
        grid-row: auto;
    }
    .newsletter .big {
        margin-bottom: -30px;
    }
}